{% extends 'base.html' %}
{% block content %}
<div class="container">
    <p></p>
    <div class="columns">
        <div class="column col-12">
            <div class="text-center">
                <h4><u>Wprowadź pracownika</u></h4>
            </div>
        </div>
        <div class="column col-3"></div>
        <div class="column col-6">
            <form class="form-horizontal" method="post">
                <div class="form-group">
                    <!-- Pole na imię i nazwisko -->
                    <div class="col-2">
                        <label class="form-label" for="empName">Nazwa</label>
                    </div>
                    <div class="col-10">
                        <input class="form-input" type="text" id="empName" name="empName" placeholder="Imię i nazwisko pracownika">
                    </div>

                    <!-- Pole na email -->
                    <div class="col-2">
                        <label class="form-label" for="empEmail">Email</label>
                    </div>
                    <div class="col-10">
                        <input class="form-input" type="email" id="empEmail" name="empEmail" placeholder="nazwa@example.com">
                    </div>

                    <!-- Pole wyboru departamentu -->
                    <div class="col-2">
                        <label class="form-label" for="depID">Departament</label>
                    </div>
                    <div class="col-10">
                        <select class="form-select" id="depID" name="depID" required>
                            <option value="" disabled selected>Wybierz departament</option>
                            {% for departament in departaments %}
                                <option value="{{ departament.depID }}">{{ departament.depName }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Pole wyboru czy manager -->
                    <div class="col-2">
                        <label class="form-label" for="empIsManager">Manager</label>
                    </div>
                    <div class="col-10">
                        <label class="form-checkbox form-inline">
                            <input type="checkbox" id="empIsManager" name="empIsManager">
                            <i class="form-icon"></i>
                        </label>
                    </div>

                    <!-- Przycisk zapisu -->
                    <div class="col-6"></div>
                    <div class="col-2">
                        <button class="btn btn-primary" type="submit">Zapisz</button>
                    </div>
                    <div class="col-6"></div>
                </div>
            </form>
        </div>
        <div class="column col-3"></div>
    </div>
</div>

{% endblock %}