{% extends 'base.html' %}
{% block content %}
<div class="container">
    <p></p>
    <div class="columns">
        <div class="column col-12">
            <div class="text-center">
                <h4><u>Witaj w aplikacji do obsługi korespondencji</u></h4>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="column col-3"></div>
        <div class="column col-6">
            Baza korespondencji jest programem do obsługi pism przychodzących i wychodzących z firmy.<p></p>

            <b>OPIS PROGRAMU:</b><p>

            <li>Panel KORESPONDENCJA przekieruje Ciebie na stronę, gdzie będziesz mógł zarządzać pismami</li>
            <li>Panel ADMINISTRACJA umożliwi Ci dodawanie nowych departamentów i pracowników</li>



        </div>
        <div class="column col-3"></div>
    </div>
</div>
{% endblock %}