{% extends 'base.html' %}
{% block content %}
<div class="container">
    <p></p>
    <div class="columns">
        <div class="column col-12">
            <div class="text-center">
                <h4><u>Witaj w aplikacji do obsługi korespondencji</u></h4>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="column col-3"></div>
        <div class="column col-6">
            Baza korespondencji jest programem do obsługi pism przychodzących i wychodzących z firmy.<p></p>

            <b>OPIS PROGRAMU:</b>
            <ul>
            <li>Panel KORESPONDENCJA przekieruje Ciebie na stronę, gdzie będziesz mógł w pełni zarządzać pismami</li>
            <li>Panel ADMINISTRACJA umożliwi Ci dodawanie nowych departamentów i pracowników</li>
            </ul>
            <p></p>

            <b>FUNKCJONALNOŚCI PANELU KORESPONDENCJA:</b>
            <ul>
            <li>Możliwość dodawania nowej korespondencji</li>
            <li>Możliwość filtrowania listą korespondencji po kolumnach: Tytuł, Nadawca, Status, Departament</li>
            <li>Możliwość wykonania różnych akcji na danej korespondencji:
                <ul>
                    <li><b>Przydziel</b> - możliwość przydzielenia do konkretnego pracownika otrzymanego pisma. Jeżeli z jakiś
                        przyczyn był źle zarejestrowany departament, to można go zmienić i po wciśnięciu przycisku
                        Filtruj pracowników wyświetli się nam lista podległych pracowników do danego departamentu</li>
                    <li><b>Otwórz</b> - otworzy nam się pojedyncze pismo. Do modyfikacji będą tutaj trzy pola: Status realizacji,
                        Termin realizacji oraz Data odpowiedzi</li>
                    <li><b>Usuń</b> - możliwość usunięcia zarestrowanego pisma z bazy</li></ul></li>
            </ul>
        </div>
        <div class="column col-3"></div>
    </div>
</div>
{% endblock %}